button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #797979;
    border-radius: 4px;
    background-color: #f0efef;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #9f9e9e;
    border-color: #5c5c5c;
}
